<div class="columns">

  <!-- NAME -->
  <div class="column">
    <label class="label">Name</label>
    <div class="control">
      <input class="input"
            type="text"
            name="annotator_name"
            required
            value="{% if draft %}{{ draft.annotator_name }}{% else %}{{ user.username }}{% endif %}"
            readonly>
    </div>
  </div>

  <!-- REGION -->
  <div class="column">
    <label class="label">Region</label>
    <div class="control select is-fullwidth">
      <select id="region"
          name="region"
          required
          onchange="updateState()">

        {% for region in region_state_map.keys() %}
          <option value="{{ region }}"
            {% if draft and draft.region == region %}
              selected
            {% elif not draft and user.region == region %}
              selected
            {% endif %}>
            {{ region }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <!-- STATE -->
  <div class="column">
    <label class="label">State</label>
    <div class="control select is-fullwidth">
      <select id="state" name="state" required>
        <option value="">Select state</option>
      </select>
    </div>
  </div>

</div>